.bottom-bar {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    align-items: center;
    bottom: 0px; /* Fija la barra en la parte inferior de la ventana */
}

.icon {
    font-size: 30px;
    padding: 10px;
    margin: 0em;
    border-radius: 20%;
    border: 7px solid #ffffff;
    animation: barrido-desde-abajo 0.3s ease-in-out forwards;
}

.active {
    font-size: 30px;
    background: red;
    border: 5px solid #f2f2f2d2;
    color: white;
    animation: boton-arriba 0.3s ease-in-out forwards;
    
}

/* ANIMACIONES */
@keyframes boton-arriba {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(0);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(-1em);
    }
}

@keyframes barrido-desde-abajo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}