/* BUSQUEDA */
.search-container {
    position: relative;
    width: 60%;
    text-align: left;
}

.search-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
}

input[type="text"] {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 94%;
    padding: 10px 0px 10px 10px;
    border: 2px solid #e2e2e2;
    border-radius: 20px;
    vertical-align:bottom;
    text-align: left;
    cursor: pointer;
}

/* RESULTADOS */
.seccion-resultados {
    position: relative;
    text-align: center;
}

.results {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.result {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: barrido-desde-arriba-barra 0s ease-in-out forwards;
}

.result img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25%;
    object-fit: cover;
    border: 1px solid #ccc;
}

/* TEXTO */
.title {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 0 red;
    box-shadow: none;
}

.subtitle {
    font-size: 18px;
    color: gray;
    text-align: left;
}

/* ANIMACIONES */
@keyframes barrido-desde-arriba-barra {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MODO OSCURO */
body.modo-oscuro {
    background-color: #252525;
}

.modo-oscuro input[type="text"] {
    background-color: #333; /* Color de fondo diferente en modo oscuro */
    border: #333;
    color:#ffffff;
}

.modo-oscuro .result{
    background-color: #333; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .title{
    color:#ccc; /* Color de fondo diferente en modo oscuro */
}