.bottom-bar {
    background-color: #eee;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    position: fixed;
    bottom: 0; /* Fija la barra en la parte inferior de la ventana */
    width: 100%; /* Ocupa todo el ancho de la ventana */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.icon {
    font-size: 25px;
    padding: .5em;
    margin: 0em;
    transition: .5s ease-in-out;
    border-radius: 20%;
    border: 7px solid #eee;
}

.active {
    transform: scale(1.25) translateY(-1em);
    background: red;
    border: 7px solid #dcdcdc;
    color: white;
}
