body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.primera-seccion {
    background-color: #333333;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion {
    padding: 10px;
    text-align: center;
    animation: barrido-desde-arriba 0.6s ease-in-out forwards;
}

/* TEXTO */
.h1 {
    font-size: 24px;
    color: white;
    font-weight: bold;
     /* Tamaño del icono anterior */display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.h2 {
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: normal;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
}

.h4 {
    font-size: 18px;
    color: gray;
}

a {
    color: inherit;
    text-decoration: none;
}

/* BOTONES */
.boton {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    display: block;
}

.boton-2 {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    display: block;
}

/* ELEMENTOS DE LAS SECCIONES */
.icon {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    border-radius: 20px;
}

.icono-2 {
    font-size: 55px;
    display: inline-block;
    vertical-align: middle;
}

.poster {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.trailer {
    position: relative;
    padding-bottom: 50%;
  }
  
.trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}




/* MODO OSCURO */
body.modo-oscuro {
    background-color: #252525;
}

.modo-oscuro .primera-seccion {
    background-color: #202020; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}

.modo-oscuro .h3 {
    font-weight: normal;
    color: rgb(228, 228, 228);
}

.modo-oscuro .boton {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .boton-2 {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}












/* ANIMACIONES */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}