@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.seccion-encabezado {
    padding: 5px;
    text-align: center;
    margin: 3%;
    border-radius: 20px;
    background-color: #ffffff;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion-ultima {
    padding: 40px;
}

/* ELEMENTOS DE LAS SECCIONES */
.icono-1 {
    font-size: 55px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* TEXTO */
.h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
}

.seccion-favoritos {
    margin: 3%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion-favorito {
    padding: 10px;
    background-color: #e2e2e2;
    border: none;
    border-radius: 20px;
    margin: 10px auto;
    cursor: pointer;
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    justify-content: flex-start;
    animation: barrido-desde-arriba-barra 0s ease-in-out forwards;
}

/* Estilos para la imagen */
.estilo-imagen {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 25%;
    object-fit: cover;
    border: 1px solid #ccc;
}

/* Estilos para el ID */
.h8 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: block; /* Muestra el ID en una línea separada */
}

/* Estilos para el Nombre */
.h9 {
    font-size: 18px;
    color: gray;
    text-align: left;
    display: block; /* Muestra el Nombre en una línea separada */
}
