@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.primera-seccion {
    background-color: #333333;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 3%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion {
    margin: 3%;
    text-align: center;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion-ultima {
    padding: 40px;
}

/* TEXTO */
.h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    vertical-align: middle;
}

.h2 {
    font-size: 18px;
    font-weight: bold;
}

.h3 {
    font-size: 16px;
    color: #333333;
    padding: 0px 5px;
}

/* ELEMENTOS DE LAS SECCIONES */
.logo {
    max-width: 100%;
}

.imagen {
    max-width: 100%;
    border-radius: 20px;
}

/* MODO OSCURO */
body.modo-oscuro {
    background-color: #252525;
}

.modo-oscuro .seccion-encabezado {
    background-color: #1b1b1b; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion-ultima {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}

.modo-oscuro .h2 {
    color: rgb(255, 255, 255);
}

.modo-oscuro .h3 {
    font-weight: normal;
    color: rgb(200, 200, 200);
}

.modo-oscuro .boton {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .boton-2 {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}



/* ANIMACIONES */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}