@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.seccion-encabezado {
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    margin: 3%;
    border-radius: 20px;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion-busqueda {
    margin: 3%;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.slider {
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.slider img {
    width: 100%;
    position: sticky;
    object-fit: cover;
    scroll-snap-align: center;
    border-radius: 20px;
    height: auto;
    margin-right: 10px; /* Ajusta el margen entre las imágenes */
}

.slider {
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slide {
    position: relative;
    flex: 0 0 calc(100% - 10px);
    margin-right: 10px;
    scroll-snap-align: start;
}

.slide img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    height: auto;
}

.seccion-portada {
    background-color: #333333;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin: 3%;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion-producciones {
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 10px 10px;
    margin: 3%;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion-boton {
    margin: 3%;
    text-align: center;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion-ultima {
    padding: 50px;
}

/* TEXTO */
a {
    color: inherit;
    text-decoration: none;
}

.h1 {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.h2 {
    font-size: 18px;
    color: gray;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 3px;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.h4 {
    font-size: 12px;
    font-weight: bold;
}

/* Agrega esto al final de tu archivo CSS */

.slider {
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

.slide {
    position: relative;
    flex: 0 0 100%; /* Ajusta esto según sea necesario */
    scroll-snap-align: start;
}

.texto-slider {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-weight: bold;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    border: black;
    text-align: center;
    text-shadow: black 0px 0px 6px;
}


/* ELEMENTOS DE LAS SECCIONES */
.icono-1 {
    font-size: 55px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.portada {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
}

.boton {
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px 10px;
    margin-top: 0px;
    border-radius: 20px;
    display: block;

    animation: button-shimmer 1s infinite;
    transition: all 0.2s ease-in-out;
}

.boton-flecha {
    padding: 0px 5px;

    animation: button-shimmer 1s infinite;
    transition: all 0.2s ease-in-out;
}


/* PRODUCCIONES */
.producciones {
    display: flex;
    overflow-x: auto;
    padding: 0px;
    gap: 10px;
}

.produccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.produccion img {
    width: 60px;
    height: 60px;
    border-radius: 25%;
    object-fit: cover;
    margin-bottom: 3px;
}

/* ANIMACIONES */
/* Transición */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Botones */
.boton:active {
    transform: scale(0.97);
  }
.boton-2:active {
    transform: scale(0.97);
  }



/* MODO OSCURO */
body.modo-oscuro {
    background-color: #252525;
}

.modo-oscuro .seccion-encabezado {
    background-color: #1b1b1b; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion-producciones {
    background-color: #333; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}

.modo-oscuro .h3 {
    color: rgb(228, 228, 228);
}

.modo-oscuro .h4 {
    font-weight: normal;
    color: rgb(228, 228, 228);
}

.modo-oscuro .boton {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}