@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2
}
* {
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}



/* SECCIONES */
.seccion-encabezado {
    padding: 10px 0px 10px 5px;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}
.seccion {
    margin: 3%;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}
.seccion-catalogo {
    margin: 3%;
    border-radius: 20px;
    padding: 10px 0px;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}
.seccion-ultima {
    padding: 40px;
}



/* TEXTO */
a {
    color: inherit;
    text-decoration: none;
}

/* Sección encabezado */
.h1 {
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.icono-f {
    font-size: 35px;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
}

/* Slider de Novedades */
.hsn-1 {
    font-size: 20px;
    color: white;
    border: black;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 5%;
    right: 5%;
}

/* Slider de Producciones */
/* Área con Botón */
.hsp-1 {
    font-size: 18px;
    font-weight: bold;
}
.hsp-2 {
    font-size: 16px;
    color: #333;
}
/* Área con solo Texto */
.hspg-1 {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 195px;
    padding: 0px 5px;
}
.hspg-2 {
    font-size: 16px;
    color: #333;
    position: absolute;
    bottom: 8px;
    padding: 0px 5px;
}

/* Catalogo */
.hc-1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hc-2 {
    font-size: 16px;
}
.hc-3 {
    font-size: 14px;
    color: #333;
}




/* SECCIÓN CATALOGO */
/* Fila y Columna */
.catalogo {
    display: flex;
    overflow-x: auto;
    padding: 0px;
    gap: 15px;
    scroll-snap-type: x mandatory;
}
.≫ {
    padding: 0px 5px;
    animation: button-shimmer 1s infinite;
    transition: all 0.2s ease-in-out;
}

/* Fila */
.elemento-cf {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px;
}
.elemento-cf img {
    width: 60px;
    height: 60px;
    border-radius: 25%;
    object-fit: cover;
}

/* Columna */
.columna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    scroll-snap-align: start;
}
.elemento-cc {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 94vw;
    padding: 8px 0px;
    background: #e2e2e2;
    border-radius: 20px;
}
.elemento-cc img {
    width: 60px;
    height: 60px;
    border-radius: 25%;
    object-fit: cover;
    margin: 0px 5px 0px 10px;
}



/* SLIDER DE PORTADAS */
.slider {
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

/* Novedades */
.elemento-sn {
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin-right: 5px;
    margin-left: 5px;
}
.elemento-sn img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}
.elemento-sn::before {
    width: 100%;
    height: 200px;
    content: "";
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
}

/* Producciones */
.elemento-sp {
    position: relative;
    flex: 0 0 100%;
    scroll-snap-align: start;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #e2e2e2;
    border-radius: 20px;
}
.elemento-sp img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.contenedor-sp {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 10px 10px;
}
.contenedor-sp-t {
    display: flex;
    flex-direction: column;
}




.contenedor-nuevo {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 5px 10px 10px 10px;
}
.contenedor-nuevo img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 25%;
}




/* Área de solo Texto */
.elemento-spg {
    position: relative;
    flex: 0 0 95%;
    scroll-snap-align: start;
    margin-right: 5px;
    margin-left: 5px;
    background: #e2e2e2;
    padding: 10px 10px 55px 10px;
    border-radius: 20px;
}
.elemento-spg img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    border-radius: 20px;
}



/* BOTONES*/
.boton {
    background-color: red;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 15px;
    margin-top: 0px;
    border-radius: 20px;
    display: block;
    animation: button-shimmer 1s infinite;
    transition: all 0.2s ease-in-out;
}



/* MODO OSCURO */
body.modo-oscuro {
    background-color: #000000;
}
.modo-oscuro .icono-f {
    color: white;
}
.modo-oscuro .h1 {
    color: white;
}
.modo-oscuro .hc-1 {
    color: white;
}
.modo-oscuro .hc-2 {
    color: white;
}
.modo-oscuro .hc-3 {
    color: white;
}
.modo-oscuro .hsp-1 {
    color: white;
}
.modo-oscuro .hsp-2 {
    color: white;
}
.modo-oscuro .hspg-1 {
    color: white;
}
.modo-oscuro .hspg-2 {
    color: white;
}
.modo-oscuro .elemento-cc{
    background-color: #222222;
}
.modo-oscuro .elemento-sp{
    background-color: #222222;
}
.modo-oscuro .boton {
    background-color: #222222;
    color: rgb(226, 226, 226);
}



/* ANIMACIONES */
/* Transición */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}