@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

:focus {
    outline: none;
}

/* SECCIONES */
.seccion-encabezado {
    padding: 10px;
    text-align: center;
    margin: 3%;
    border-radius: 20px;
    background-color: #ffffff;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion {
    margin: 3%;
    text-align: center;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.seccion-ultima {
    padding: 40px;
}

/* ELEMENTOS DE LAS SECCIONES */
.icono-1 {
    font-size: 55px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icono-2 {
    font-size: 35px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

.icono {
    font-size: 60px;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.icono-3 {
    font-size: 40px;
    color: black;
    display: inline-block;
    vertical-align: middle;
}


/* TEXTO */
a {
    color: inherit;
    text-decoration: none;
}

.h1 {
    font-size: 24px;
    font-weight: bold;
    color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
}

.h3 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/* BOTONES */
.boton {
    outline: none;
    background-color: red;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    animation: button-shimmer 1s infinite;
    transition: all 0.2s ease-in-out;
}

.boton-2 {
    outline: none;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    display: block;
    animation: button-shimmer 1s infinite;
    transition: all 0.2s ease-in-out;
}



/* MODO OSCURO */
body.modo-oscuro {
    background-color: #252525;
}

.modo-oscuro .seccion-encabezado {
    background-color: #1b1b1b; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion-ultima {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}

.modo-oscuro .h3 {
    font-weight: normal;
    color: rgb(228, 228, 228);
}

.modo-oscuro .boton {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .boton-2 {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}


/* ANIMACIONES */
/* Transición */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Botones */
.boton:active {
    transform: scale(0.97);
  }
.boton-2:active {
    transform: scale(0.97);
  }