@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.seccion-encabezado {
    margin: 3% 3% 25px;
    display: flex;
    align-items: center;
}

.seccion-ultima {
    padding: 40px;
}

.seccion-info {
    border-radius: 20px;
    border: 3px solid #dfdfdf;
    padding: 10px;
    margin: 3%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion-novedad {
    border-radius: 20px;
    background-color: #dfdfdf;
    padding: 10px;
    margin: 3%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

/* Pantalla de Información */
.seccion-f {
    margin: 3%;
    background: #e6e6e6;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}



/* TEXTO*/
a {
    color: inherit;
    text-decoration: none;
}
.h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Texto de Novedades*/
.hn-2 {
    font-size: 18px;
    color: black;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.hn-3 {
    font-size: 14px;
    color: rgb(66, 66, 66);
    align-items: center;
    padding: 5px 5px 5px 0px;
    display: flex;
    justify-content: space-between;
}
.hn-4 {
    font-size: 16px;
    color: rgb(66, 66, 66);
    padding: 0px 5px 5px 5px;
    vertical-align: middle;
}

/* Texto de Menú con Iconos */
.hf-3 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    display: inline-block;
    align-items: center;
    margin-right: 55px;
    justify-content: space-between;
}



/* ELEMENTOS DE LAS SECCIONES */
.🡰 {
    font-size: 30px;
    background: #e2e2e2;
    border-radius: 10px;
    padding: 5px 8px;
    display: inline-block;
    vertical-align: middle;
}

/* Elementos de Novedades */
.trailer {
    position: relative;
    padding-bottom: 50%;
}
.trailer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.poster {
    display:block;
    margin: auto;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

/* Elementos de Menú de Opciones*/
.icono-f {
    font-size: 35px;
    width: 35px;
    margin: 10px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
}
.≫ {
    font-size: 20px;
    color: black;
    font-weight: bold;
    position: absolute;
    bottom: 35%;
    right: 20px;
}



/* MODO OSCURO */
body.modo-oscuro {
    background-color: #000000;
}
.modo-oscuro .🡰 {
    background-color: #222222;
    color: rgb(255, 255, 255);
}
.modo-oscuro .seccion-f {
    background-color: #222222;
}
.modo-oscuro .seccion-info {
    border-color: #222222;
}
.modo-oscuro .seccion-novedad {
    background-color: #222222;
}
.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}
.modo-oscuro .hn-2 {
    color: rgb(255, 255, 255);
}
.modo-oscuro .hn-3 {
    color: rgb(255, 255, 255);
}
.modo-oscuro .hn-4 {
    color: rgb(204, 204, 204);
}
.modo-oscuro .hf-3 {
    font-weight: normal;
    color: rgb(228, 228, 228);
}
.modo-oscuro .icono-f {
    color: rgb(216, 216, 216);
}
.modo-oscuro .≫ {
    color: rgb(228, 228, 228);
}



/* ANIMACIONES */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}