body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.primera-seccion {
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.seccion {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.icon {
    font-size: 60px;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
}






.boton-caja {
    text-align: center;
}

.h3 {
    font-size: 20px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}






.search-container {
    position: relative; /* Establece el contexto de posición relativa */
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px 0px 10px; /* Ajusta el padding para crear espacio debajo del texto */
    border: 1px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    vertical-align: middle;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* Agrega un nuevo estilo para el texto en la parte inferior */
.search-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-size: 18px;
    color: gray;
}





.results {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.result {
    background-color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 90px;
    margin: 10px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 18px;
}

.title {
    font-size: 18px;
    color: black;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    color: gray;
    display: inline-block;
    text-decoration: none;
    margin: 0;
}

.no-results {
    font-size: 18px;
    color: gray;
    margin-top: 20px;
}