@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.primera-seccion {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
}

.seccion {
    padding: 5px 15px 15px 15px;
    text-align: center;
}

.seccion-ultima {
    padding: 45px;
}

/* ELEMENTOS DE LAS SECCIONES */
.icon {
    font-size: 55px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}





.minijuego-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Limitando el ancho para evitar que el juego se expanda demasiado en pantallas grandes */
    margin: auto; /* Centra el contenedor horizontalmente y agrega margen superior e inferior */
  }
  
  .memory-game {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-gap: 5px;
  }
  .card {
    border-radius: 20px;
    width: 100%;
    position: relative;
    background-color: #ddd;
    cursor: pointer;
    transition: transform 0.5s;
    overflow: hidden; /* Asegura que las imágenes se ajusten correctamente */
  }
  
  .card img {
    border-radius: 20px;
    width: 80%;
    padding: 5px 0px 5px 0px;
    height: 80%;
    vertical-align: middle;
    object-fit: cover;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .card.matched {
    background-color: #8aff8a;
    cursor: default;
  }












/* TEXTO */
.h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

/* BOTONES */
.boton-caja {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.boton {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0px;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px;
    margin-block: red;
}

.boton img {
    max-width: 100%;
    height: auto;
}

.custom-button {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
}

/* OPCIONES */
#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    width: 100%; /* Cambiamos el ancho al 100% para mostrar las opciones en una columna */
    margin: 50
}