@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

:focus {
    outline: none;
}

/* SECCIONES */
.seccion-encabezado {
    margin: 3% 3% 25px;
    display: flex;
    align-items: center;
}

.seccion {
    margin: 3%;
    text-align: center;
}

.seccion-pregunta {
    padding: 20px;
    border: 3px solid #dfdfdf;
    border-radius: 15px;
    margin: 35px 3% 3% 3%;
    text-align: center;
}

.seccion-ultima {
    padding: 30px;
}



/* TEXTO */
.h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenedor {
    position: relative;
}
  
.h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    color: black;
    transform: translate(-50%, -110%);
    background-color: #e2e2e2;
}

.h2.correcto {
    background-color: #5cb85c;
    color: white;
    transition : all 0.3s ease;
}

.h2.incorrecto {
    background-color: #ff0000;
    color: white;
    transition : all 0.3s ease;
}






.h3 {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}



/* ELEMENTOS DE LAS SECCIONES */
/* Parte Inicial */
.🡰 {
    font-size: 30px;
    margin-right: 2px;
    background: #e2e2e2;
    border-radius: 10px;
    padding: 5px 8px;
    display: inline-block;
    vertical-align: middle;
}

/* Barra de Progreso */
.progreso-container {
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid #e2e2e2e2;
}

.progreso {
    height: 15px;
    background-color: #e2e2e2;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;
}
.progreso.correcto {
    background-color: #5cb85c;
}
.progreso.incorrecto {
    background-color: #ff0000;
}



/* Botones */
.boton {
    font-size: 18px;
    background-color: #e2e2e2;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 15px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
    text-align: center;
}

.boton.correcto {
    background-color: #5cb85c;
    color: white;
    transition : all 0.3s ease;
}

.boton.incorrecto {
    background-color: #ff0000;
    color: white;
    transition : all 0.3s ease;
}

.custom-button {
    font-size: 18px;
    background-color: #e2e2e2;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    width: 100%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

/* OPCIONES */
.option {
    width: 100%;
    margin: 5
}
.question-image {
    padding-top: 10px;
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}
.logo {
    max-width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

/* MODO OSCURO */
body.modo-oscuro {
    background-color: #000000;
}
.modo-oscuro .seccion-pregunta {
    border: 3px solid #222222;
}
.modo-oscuro .🡰 {
    background-color: #222222;
    color: rgb(255, 255, 255);
}
.modo-oscuro .progreso-container {
    border: solid 3px #222222;
    background-color: #000000;
}
.modo-oscuro .progreso {
    background-color: #222222;
}


.modo-oscuro .progreso.correcto {
    background-color: #5cb85c;
}
.modo-oscuro .progreso.incorrecto {
    background-color: #ff0000;
}


.modo-oscuro .h2.correcto {
    background-color: #5cb85c;
    color: white;
    transition : all 0.3s ease;
}

.modo-oscuro  .h2.incorrecto {
    background-color: #ff0000;
    color: white;
    transition : all 0.3s ease;
}



.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}
.modo-oscuro .h2 {
    background-color: #222222;
    color: rgb(255, 255, 255);
}
.modo-oscuro .h3 {
    font-weight: normal;
    color: rgb(228, 228, 228);
}
.modo-oscuro .boton {
    background-color: #222222;
    color: rgb(226, 226, 226);
}
.modo-oscuro .boton.correcto {
    background-color: #5cb85c;
}
.modo-oscuro .boton.incorrecto {
    background-color: #ff0033;
}
.modo-oscuro .custom-button {
    background-color: #222222;
    color: rgb(226, 226, 226);
}

/* ANIMACIONES */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}