body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

:focus {
    outline: none;
}

/* SECCIONES */
.primera-seccion {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion {
    padding: 15px;
    text-align: center;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.ultima-seccion {
    padding: 15px;
}

.icon {
    font-size: 55px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* TEXTO */
.h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    padding: 0px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h3 {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

/* BOTONES */
.boton-caja {
    text-align: center;
}

.boton {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%; /* Camostrar las opciones en una columna */
}

.custom-button {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

/* OPCIONES */
#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    width: 100%;
    margin: 5
}

.question-image {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

/* MODO OSCURO */
body.modo-oscuro {
    background-color: #252525;
    color: #fff;
}

.modo-oscuro .primera-seccion {
    background-color: #1b1b1b; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .seccion-ultima {
    background-color: #252525; /* Color de fondo diferente en modo oscuro */
}

.modo-oscuro .h1 {
    color: rgb(255, 255, 255);
}

.modo-oscuro .h3 {
    font-weight: normal;
    color: rgb(228, 228, 228);
}

.modo-oscuro .boton {
    background-color: #ff0033; /* Color de fondo diferente en modo oscuro */
}



/* ANIMACIONES */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
