body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

:focus {
    outline: none;
}


.primera-seccion {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

.seccion {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

.ultima-seccion {
    padding: 15px;
}

.icon {
    font-size: 60px;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    padding: 0px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h3 {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.boton-caja {
    text-align: center;
}

.boton {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%; /* Camostrar las opciones en una columna */
}

.custom-button {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
    animation: barrido-desde-arriba 0.3s ease-in-out forwards;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    width: 100%;
    margin: 5
}

.question-image {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
    animation: barrido-desde-arriba 0.4s ease-in-out forwards;
}

/* ANIMACIONES */
@keyframes barrido-desde-arriba {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.boton:active, .custom-button {
    transform: scale(0.65); /* Escala ligeramente y rota el botón al hacer clic */
    transition: transform 0.65s ease-in-out; /* Transición para suavizar la animación */
}