body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* SECCIONES */
.primera-seccion {
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
}

.seccion {
    padding: 5px 15px 15px 15px;
    text-align: center;
}

.ultima-seccion {
    padding: 15px;
}

/* ELEMENTOS DE LAS SECCIONES */
.icon {
    font-size: 55px;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
}

/* TEXTO */
.h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

/* BOTONES */
.boton-caja {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.boton {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 0px;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 20px;
    margin: 0px;
    margin-block: red;
}

.boton img {
    max-width: 100%;
    height: auto;
}

.custom-button {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
}

/* OPCIONES */
#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    width: 100%; /* Cambiamos el ancho al 100% para mostrar las opciones en una columna */
    margin: 50
}