body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.primera-seccion {
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
}

.seccion {
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.ultima-seccion {
    padding: 15px;
}

.icon {
    font-size: 60px;
    color: black;
    display: inline-block;
    vertical-align: middle;
}

.h1 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.h2 {
    font-size: 18px;
    color: gray;
    font-weight: normal;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}



.boton-caja {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px; /* Espacio entre los botones */
}

.boton {
    font-family: 'Poppins', sans-serif;
    background-color: ;
    color: white;
    font-size: 0px;
    border: none;
    padding: 3px;
    cursor: pointer;
    border-radius: 40px;
    margin: 0px;
    margin-color: red;
    width: 100%;
}

.boton img {
    max-width: 100%;
    height: auto;
}

.custom-button {
    font-family: 'Poppins', sans-serif;
    background-color: red;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    margin: 10px 0px 10px;
    display: block;
    width: 100%;
}



#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    width: 100%; /* Cambiamos el ancho al 100% para mostrar las opciones en una columna */
    margin: 50
}